body, .container, .container-fluid {
	height: 100%;
	display: flex;
	flex-flow: column;
}

.bg-dark-red {
	background-color: #8B0000;
}

.btn-icon {
	font-size: 8vw;
}

.vh-60 {
	height: 60vh;
}

.overflow-scroll {
	overflow-y: scroll;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

.center-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.h-auto {
	flex-grow: 1;
}

.popup-bg {
	display: flex;
	position: fixed;
	z-index: 10;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.popup {
	background-color: #fefefe;
	border: 1px solid #888;
}

#container {
	height: 100vh;
}

#main-menu-table {
	margin-bottom: 4rem;
}
